<!DOCTYPE html>
<html>
<head>
  <title>Mi Primera Tabla</title>
  <style>
    table {
        border-collapse: collapse;
        width: 100%;
      }
      table {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      }
      
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      
      th {
        background-color: green;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

  </style>
</head>
<body>

  <table>
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripcion</th>
      </tr>
    </thead>
    <tbody>
        {% for usuarios in personas_list %}
      <tr>
        <td>{{ usuarios.imagen }}</td>
        <td>{{ usuarios.nombre }}</td>
        <td>{{ usuarios.descripcion}}</td>
      </tr>
        {% endfor %}

    </tbody>
  </table>

</body>
</html>